.NoMatch {
  text-align: center;
}

.NoMatch-logo {
  animation: NoMatch-logo-spin infinite 20s linear;
  height: 80px;
}

.NoMatch-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.NoMatch-title {
  font-size: 1.5em;
}

.NoMatch-intro {
  font-size: large;
}

@keyframes NoMatch-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
